Repository youssefadly237/vi-xournalpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs, validate-keybindings

check-docs:
  name: Verify documentation is up to date
  entry: lua documentation.lua
  language: system
  pass_filenames: false
  always_run: false

validate-keybindings:
  name: Check for keybinding conflicts
  entry: lua validate_keybindings.lua
  language: system
  pass_filenames: false
  always_run: false

finished up the the tool mode; cleaned up a bit of the api;
  api/TODO.md
  api/api.lua
  core/utils.lua
  keybindings.md
  keybindings/colors.lua
  keybindings/files.lua
  keybindings/navigation.lua
  keybindings/pages.lua
  keybindings/shapes.lua
  keybindings/tools.lua
Due: check-docs, validate-keybindings

fixed cycling sync with xournal
  api/TODO.md
  api/api.lua
  core/handler.lua
  core/utils.lua
  keybindings.md
  keybindings/colors.lua
  keybindings/shapes.lua
  keybindings/tools.lua
Due: check-docs, validate-keybindings

docs ordering
  documentation.lua
  keybindings.md
  keybindings/colors.lua
  keybindings/pages.lua
Due: check-docs, validate-keybindings

finished up file mode
  api/TODO.md
  api/api.lua
  keybindings.md
  keybindings/files.lua
  keybindings/mode_switching.lua
  keybindings/visual.lua
Due: check-docs, validate-keybindings

finished up shape mode
  api/TODO.md
  api/api.lua
  core/modes.lua
  core/utils.lua
  keybindings.md
  keybindings/edit.lua
  keybindings/init.lua
  keybindings/layer.lua
  keybindings/mode_switching.lua
  keybindings/shapes.lua
  keybindings/visual.lua
Due: check-docs, validate-keybindings

finished up edit mode
  api/TODO.md
  api/api.lua
  keybindings.md
  keybindings/edit.lua
  keybindings/tools.lua
Due: check-docs, validate-keybindings

updating up the docs
  CONTRIBUTING.md
  README.md
Due: none

using Tab instead of Ctrl+space for mode switching
  README.md
  keybindings.md
  keybindings/mode_switching.lua
Due: check-docs, validate-keybindings

enhanced docs quility with keyboardviz to genrate images for the mapping
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/keyboards/color_keyboard.svg
  docs/keyboards/edit_keyboard.svg
  docs/keyboards/file_keyboard.svg
  docs/keyboards/global_keyboard.svg
  docs/keyboards/mode_keyboard.svg
  docs/keyboards/navigation_keyboard.svg
  docs/keyboards/page_keyboard.svg
  docs/keyboards/shape_keyboard.svg
  docs/keyboards/tool_keyboard.svg
  documentation.lua
  keybindings.md
Due: none

add 'Tab' alongside 't' for tool mode suggested by @MinaBasilious
  keybindings.md
  keybindings/mode_switching.lua
Due: check-docs, validate-keybindings

update docs
  CONTRIBUTING.md
  README.md
Due: none

chore: add Xournal++ Lua API type definitions (luapi.def.lua)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  api/api.lua
  luapi.def.lua
  main.lua
Due: check-docs, validate-keybindings

drop old deprecated api
  api/api.lua
  main.lua
Due: check-docs, validate-keybindings

ci: restrict StyLua to only check .lua files and exclude luapi.def.lua
  .github/workflows/ci.yml
Due: none

fix keybindings documentation ordering
  documentation.lua
  keybindings.md
  keybindings/tools.lua
Due: check-docs, validate-keybindings

add run time check for xournal compatibllity
  main.lua
  runtime_check.lua
Due: check-docs, validate-keybindings

docs svg genration fix
  documentation.lua
  keybindings.md
Due: none

correct ruler and go to last impl; improving the api wrapper;
  README.md
  api/api.lua
  core/utils.lua
  docs/keyboards/navigation_keyboard.svg
  keybindings.md
  keybindings/layer.lua
  keybindings/navigation.lua
  keybindings/shapes.lua
  luapi.def.lua
Due: check-docs, validate-keybindings

refactor: add sticky_select mode for sticky mode switching instead of shift
  core/modes.lua
  docs/keyboards/mode_keyboard.svg
  docs/keyboards/sticky_select_keyboard.svg
  documentation.lua
  keybindings.md
  keybindings/mode_switching.lua
Due: check-docs, validate-keybindings

fix shapes and clear shapes; clean up toggle fill logic
  api/api.lua
  core/utils.lua
  keybindings/shapes.lua
Due: check-docs, validate-keybindings

refactor: use single ViKey function for all keybindings Suggested-by: @rolandlo
  core/handler.lua
Due: check-docs

cleanup: remove unnecessary function() wrappers; clean up the api; fix clean shape;
  api/api.lua
  core/utils.lua
  docs/keyboards/layer_keyboard.svg
  docs/keyboards/shape_keyboard.svg
  keybindings.md
  keybindings/edit.lua
  keybindings/files.lua
  keybindings/init.lua
  keybindings/layer.lua
  keybindings/navigation.lua
  keybindings/pages.lua
  keybindings/shapes.lua
  keybindings/tools.lua
  runtime_check.lua
Due: check-docs, validate-keybindings

fix(api): prevent plugins from setting color on non-color tools (#37)
  api.lua
Due: none

chore: Add Lua API type definitions and sync tooling (#39)
  luapi_application.def.lua
  scripts/sync_xournal_luapi.py
Due: none

Apply Stylua formatting and standardize YAML files
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .stylua.toml
  api.lua
  documentation.lua
  keybindings.lua
  luapi_application.def.lua
  main.lua
  modes.lua
Due: check-docs, validate-keybindings

Revert "Apply Stylua formatting and standardize YAML files"
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .stylua.toml
  api.lua
  documentation.lua
  keybindings.lua
  luapi_application.def.lua
  main.lua
  modes.lua
Due: check-docs, validate-keybindings

Apply Stylua formatting and standardize YAML files
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .stylua.toml
  .styluaignore
  api.lua
  documentation.lua
  keybindings.lua
  luapi_application.def.lua
  main.lua
  modes.lua
Due: check-docs, validate-keybindings

feat(layouts): add multi layout support
  .gitignore
  config.lua.example
  layouts.lua
  main.lua
Due: check-docs, validate-keybindings

WIP: Refactor to capability-based API system for backward compatibility
  api.lua
  api/capabilities.lua
  api/init.lua
  api/legacy.lua
  api/registry.lua
  api/wrapper.lua
  keybindings.lua
  luapi_application.def.lua
  main.lua
  modes.lua
Due: check-docs, validate-keybindings

added thickness impl; added validateRegistry;
  api/capabilities.lua
  api/init.lua
  api/registry.lua
Due: check-docs

API migration (#50)
  .pre-commit-config.yaml
  README.md
  api.lua
  api/API_USAGE_GUIDE.md
  api/capabilities.lua
  api/init.lua
  api/legacy.lua
  api/registry.lua
  api/wrapper.lua
  colors.lua
  config.lua.example
  documentation.lua
  keybindings.lua
  luapi_application.def.lua
  main.lua
  modes.lua
  state.lua
  utils.lua
Due: check-docs, validate-keybindings

chore(state): add State class annotations
  state.lua
Due: none

feat: vi-mode indicator
  api/registry.lua
  api/wrapper.lua
  keybindings.lua
  main.lua
  modes.lua
Due: check-docs, validate-keybindings

Path conditions:
  check-docs: any of: ^(keybindings/.*\.lua|api/.*\.lua|config/.*\.lua|core/.*\.lua|main\.lua)$
  validate-keybindings: any of: ^(keybindings/.*\.lua|main\.lua)$
